@import url('https://matiaslescano.com.ar/static/fonts/pixelicious.css');

.ludo .primaryBtn {
	font-family: Pixelicious, monospace;
	/* font-size: 1.5em; */
	text-transform: uppercase;
	color: transparent;
	filter: blur(.3px);
	animation: 2s ease-in-out infinite alternate pulse-text;
	padding: 0;
}

.ludo .primaryBtn:hover {
	color: var(--pink-transparent);
	animation: 2s ease-in-out infinite alternate pulse-text-hover !important;
	position: relative;
}

.ludo .homespan {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
}

.ludo .profilespan {
	padding: 10px;
}

.ludo .homespan:hover::before {
	content: '$>';
	color: var(--pink-transparent);
	animation: 2s ease-in-out infinite alternate pulse-text-hover !important;
}

.ludo .homespan:hover::after {
	content: '...';
	color: var(--pink-transparent);
	animation: 2s ease-in-out infinite alternate pulse-text-hover !important;
}

@keyframes pulse-text {
	0% {
		text-shadow: rgba(255, 255, 255, 0.9) -0.06em -0.06em, rgba(67, 144, 126, 0.9) 0 0;
	}

	33% {
		text-shadow: rgba(204, 255, 251, 0.9) -0.15em -0.15em, rgba(153, 144, 202, 0.9) 0 0;
	}

	66% {
		text-shadow: rgba(179, 255, 251, 0.9) -0.06em -0.06em, rgba(153, 144, 202, 0.9) 0 0;
	}

	100% {
		text-shadow: rgba(179, 255, 251, 0.9) -0.15em -0.15em, rgba(202, 69, 215, 0.9) 0 0;
	}
}

@keyframes pulse-text-hover {
	0% {
		text-shadow: rgba(255, 255, 255, 0.9) -0.06em -0.06em, rgba(192, 66, 66, 0.9) 0 0;
	}

	33% {
		text-shadow: rgba(204, 255, 251, 0.9) -0.15em -0.15em, rgba(163, 97, 152, 0.9) 0 0;
	}

	66% {
		text-shadow: rgba(179, 255, 251, 0.9) -0.06em -0.06em, rgba(139, 88, 146, 0.9) 0 0;
	}

	100% {
		text-shadow: rgba(179, 255, 251, 0.9) -0.15em -0.15em, rgba(238, 133, 133, 0.9) 0 0;
	}
}

@keyframes pulse-icon {
	0% {
		filter: drop-shadow(-0.06em -0.06em rgba(67, 144, 126, 0.9));
	}

	33% {
		filter: drop-shadow(-0.15em -0.15em 0px rgba(153, 144, 202, 0.9));
	}

	66% {
		filter: drop-shadow(-0.06em -0.06em 0px rgba(153, 144, 202, 0.9));
	}

	100% {
		filter: drop-shadow(-0.15em -0.15em 0px rgba(202, 69, 215, 0.9));
	}
}

.ludo .paletteIcon {
	color: var(--yellow-transparent);
	filter: blur(.3px);
	animation: 2s ease-in-out infinite alternate pulse-icon;
}

.ludo .chat-icon-fill {
	color: var(--yellow-transparent);
	filter: blur(.3px);
	animation: 2s ease-in-out infinite alternate pulse-icon;
	fill: var(--yellow-transparent);
}

.ludo .chat-icon-dots {
	color: var(--yellow-transparent);
	filter: blur(.3px);
	animation: 2s ease-in-out infinite alternate pulse-icon;
	fill: var(--yellow-transparent);
}

@keyframes pulse-gradient {
	0% {
		background-size: 100%;
		background-position: center;
	}

	50% {
		background-size: 120%;
		background-position: center;
	}

	100% {
		background-size: 100%;
		background-position: center;
	}
}

.ludo {
	--yellow: #fad009;
	--yellow-transparent: #fad20963;
	--pink: #ed2ea5;
	--pink-transparent: #ed2ea550;
	--blue: #6172c5;
	--orange: #fa8057;
	--purple: #2c0d2a;
	--bg-gradient: radial-gradient(circle, rgba(250, 208, 9, 1) 1%, rgba(237, 46, 165, 1) 63%, rgba(44, 13, 42, 1) 100%);
	animation: pulse-gradient 5s infinite ease-in-out;
	--background-color: var(--bg-gradient);
	--background-color-body: var(--yellow-transparent);
	--text-color: var(--yellow);
	--highlight-color: var(--yellow);
	--icon-color: var(--blue);
	/* --background-rooms: red;
	--text-color-rooms: white; */

	/* BTN */
	--box-shadow-black: 0px 0px 10px var(--my-black);
	--border-color: var(--my-black);
	--text-color-btn: var(--my-black);
	--text-color-btn-highlight: var(--my-white);
	--selected-btn: var(--my-black);
	--border-btn-color: var(--my-black);
	--border-btn-color-when-selected: var(--my-blue);
	--chat-btn-highlight: var(--my-blue);
	--background-color-when-selected: var(--my-black);
	--text-color-selected: var(--my-blue);

	/* chat */
	--chat-message-input: var(--my-gradient);
	--chat-msg: var(--my-dark-gray);
	--chat-border: var(--my-white-gray);
	--chat-bg: var(--my-gradient);
	--placeholder-color: var(--text-color);

	/* box */
	--box-shadow: 0px 0px 7px var(--my-black);
	--box-shadow-images: 0px 0px 7px var(--my-black);
	--box-shadow-inset: inset 0px 0px 3px var(--my-black);
	--box-shadow-highlight: 0px 0px 3px var(--my-black);
	--box-shadow-highlight-inset: inset 0px 0px 1px var(--my-black);

	/* chat neon */
	--box-shadow-neonChat1: 0 0 0px var(--my-black), 0 0 2px var(--my-black),
		0 0 4px var(--my-black), 0 0 6px var(--my-black);
	--box-shadow-neonChat2: 0 0 8px var(--my-black);
	--box-shadow-neonChat3: 0 0 14px var(--my-black);

	/* mainContent neons */
	--box-shadow-mainContent1: 0 0 0px var(--my-black), 0 0 2px var(--my-black),
		0 0 4px var(--my-black), 0 0 6px var(--my-black);
	--box-shadow-mainContent2: 0 0 8px var(--my-black);
	--box-shadow-mainContent3: 0 0 14px var(--my-black);
	--neon-main-image: 0 0 0px var(--my-gray), 0 0 1px var(--my-gray),
		0 0 2px var(--my-gray), 0 0 3px var(--my-gray), 0 0 4px var(--my-gray),
		0 0 7px var(--my-gray), 0 0 8px var(--my-gray), inset 0 0 0px var(--my-gray),
		inset 0 0 1px var(--my-gray), inset 0 0 2px var(--my-gray),
		inset 0 0 3px var(--my-gray), inset 0 0 4px var(--my-gray),
		inset 0 0 7px var(--my-gray), inset 0 0 8px var(--my-gray);
}

.ludo .emoji-picker-container {
	--background-color: var(--pink-transparent);
}

.ludo .tooltip {
	backdrop-filter: blur(20px);
}

.ludo .tooltip-inner {
	color: white;
}

.ludo #livechat {
	backdrop-filter: blur(5px);
}

.ludo #chat-message-input {
	--background-color-body: var(--pink-transparent);
	--text-color: white;
	border-color: var(--yellow) !important;
}

.ludo #chat-message-input:focus {
	border-color: var(--yellow) !important;
}

.ludo #settingView {
	/* --background-color-body: var(--yellow-transparent); */
	--background-color: var(--yellow-transparent);
	--text-color: white;
}

.ludo .game-row {
	--background-color: transparent;
	--text-color: white;
}

.ludo .game-row-online {
	--background-color: transparent;
	--text-color: white;
}

.ludo #roomView {
	/* --background-color-body: var(--yellow-transparent) !important;
	--background-color: var(--yellow-transparent) !important; */
	background: var(--yellow-transparent);
	/* background-color: red; */
	--text-color: white;
}

.ludo .profile-container {
	background: var(--yellow-transparent);
	--text-color: white;
}

.ludo .settings-container {
	background: var(--yellow-transparent);
	--text-color: white;
}