.neonBlue {
  --my-black: #000b1e;
  --my-white: #80ffff;
  --my-gray: #00ffff;
  --my-blue: #6c93cb;
  --my-dark-blue: #001f54;
  --my-dark-gray: #4cc9f0;
  --my-gradient: radial-gradient(
    circle at center,
    #000b1e 0%,
    #001f54 50%,
    #000b30 100%
  );

  --background-color: var(--my-gradient);
  --background-color-body: var(--my-gradient);
  --text-color: var(--my-dark-gray);
  --highlight-color: var(--my-gray);
  --icon-color: var(--my-white);
  --background-rooms: var(--my-white);
  --text-color-rooms: var(--my-black);

  /* BTN */
  --box-shadow-black: 0px 0px 10px var(--my-white);
  --border-color: var(--my-white);
  --text-color-btn: var(--my-white);
  --text-color-btn-highlight: var(--my-black);
  --selected-btn: var(--my-white);
  --border-btn-color: var(--my-white);
  --border-btn-color-when-selected: var(--my-blue);
  --chat-btn-highlight: var(--my-blue);
  --background-color-when-selected: var(--my-white);
  --text-color-selected: var(--my-blue);

  /* chat */
  --chat-msg: var(--my-white);
  --chat-border: var(--my-dark-gray);
  --chat-bg: var(--my-gradient);
  --placeholder-color: var(--my-white);

  /* box */
  --box-shadow: 0px 0px 7px var(--my-white);
  --box-shadow-images: 0px 0px 7px var(--my-white);
  --box-shadow-inset: inset 0px 0px 3px var(--my-white);
  --box-shadow-highlight: 0px 0px 3px var(--my-white);
  --box-shadow-highlight-inset: inset 0px 0px 1px var(--my-white);

  /* chat neon */
  --box-shadow-neonChat1: 0 0 0px var(--my-white), 0 0 2px var(--my-white),
    0 0 4px var(--my-white), 0 0 6px var(--my-white);
  --box-shadow-neonChat2: 0 0 8px var(--my-white);
  --box-shadow-neonChat3: 0 0 14px var(--my-white);

  /* mainContent neons */
  --box-shadow-mainContent1: 0 0 0px var(--my-white), 0 0 2px var(--my-white),
    0 0 4px var(--my-white), 0 0 6px var(--my-white);
  --box-shadow-mainContent2: 0 0 8px var(--my-white);
  --box-shadow-mainContent3: 0 0 14px var(--my-white);
  --neon-main-image: 0 0 0px var(--my-gray), 0 0 1px var(--my-gray),
    0 0 2px var(--my-gray), 0 0 3px var(--my-gray), 0 0 4px var(--my-gray),
    0 0 7px var(--my-gray), 0 0 8px var(--my-gray), inset 0 0 0px var(--my-gray),
    inset 0 0 1px var(--my-gray), inset 0 0 2px var(--my-gray),
    inset 0 0 3px var(--my-gray), inset 0 0 4px var(--my-gray),
    inset 0 0 7px var(--my-gray), inset 0 0 8px var(--my-gray);
}
