@import url("_globalVar.css");


/* Form styles */
.custom-form {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--highlight-color);
	height: 35%;
	max-height: 400px;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 6px;
	border-radius: 10px;
	padding: 20px;
  }
  
  .custom-form-group {
	  display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	height: 20%;
  }
  
  @media (max-width: 320px) {
	.custom-form-group {
	  flex-direction: column;
	  align-items: center;
	}
  
	.custom-label {
	  width: 100% !important;
	  text-align: left !important;
	  margin-right: 0px !important;
	}
  
	.custom-input {
	  width: 100% !important
	}
  }
  
  .custom-label {
	color: var(--highlight-color);
	width: auto;
	text-align: left;
	margin-right: 10px;
  }
  
  .custom-input {
	width: auto;
	height: 100%;
	max-width: 60%;
	max-height: 32px;
  }
  
  .submit-btn {
	background-color: var(--background-color);
	color: var(--text-color);
	border: 2px solid;
	border-color: var(--border-btn-color);
	max-width: 1000px;
	align-self: center;
	transition: color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	width: 50%;
	height: 30%;
	border-radius: 5px;
	margin-top: 9px;
  }
  
  .submit-btn:focus,
  .submit-btn:hover {
	border-color: var(--highlight-color);
	color: var(--highlight-color);
  }
  
  .submit-btn:active {
	color: #0a1730;
	background-color: var(--quartiary-color);
	border-color: var(--primary-color);
  }
  
  