.darkGrey {
	--background-color: linear-gradient(
	to right,
	#0A1014 0%,
	#0F1520 15%,
	#141B2A 30%,
	#1A2A35 50%,
	#141B2A 70%,
	#0F1520 85%,
	#0A1014 100%

	);
	--text-color: #fccb2d;
	--border-btn-color: #4A4A4A;
	--highlight-color: #FFFFFF;
	--icon-color: #808080;
	--box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
	--font-family : 

	--placeholder-color: var(--text-color);
	--chat-btn-highlight: var(--highlight-color);
	--chat-bg: rgba(0, 0, 0, 0.7);
	--chat-msg: var(--text-color);
	--chat-border: var(--border-btn-color);
	--box-shadow-inset: inset 0px 0px 5px var(--highlight-color);
  --selected-btn: #000000;
}

.neonBlue {

	--background-color: radial-gradient(
	circle at center,
	#000B1E 0%,
	#001F54 50%,
	#000B30 100%
	);
	--text-color: #00FFFF;
	--border-btn-color: #4CC9F0;
	--highlight-color: #80FFFF;
	--icon-color: #4CC9F0;
	--box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.7);

	--placeholder-color: var(--text-color);
	--chat-btn-highlight: var(--highlight-color);
	--chat-bg: rgba(0, 0, 0, 0.7);
	--chat-msg: var(--text-color);
	--chat-border: var(--border-btn-color);
	--box-shadow-inset: inset 0px 0px 5px var(--highlight-color);
  --selected-btn: #000000;
}

.whiteSky {
  --background-color: #FFFFFF;
  --text-color: #444444;
  --highlight-color: #4B6E84;
  --icon-color: #000000;

  /* BTN */
  --selected-btn: #000000;
  --box-shadow-black: 0px 0px 10px #000000;
  --border-btn-color: #555555;

  /* chat */
  --chat-msg: #000000;
  --chat-border: #555555;
  --chat-btn-highlight: #01FFFF;
  --chat-bg: #555555;
  --placeholder-color: #000000;
  /* box */
  --box-shadow: 0px 0px 10px #000000
  --box-shadow-inset: inset 0px 0px 5px #000000;
  --box-shadow-highlight: 0px 0px 3px #000000;
}

.darkPurple {
	--background-color: linear-gradient(
	45deg,
	#170B2B 0%,
	#2B0548 50%,
	#170B2B 100%
	);
	--text-color: #FF71CE;
	--border-btn-color: #B967FF;
	--highlight-color: #01FFFF;
	--icon-color: #FF71CE;
	--box-shadow: 0px 0px 10px rgba(255, 113, 206, 0.7);

	--placeholder-color: var(--text-color);
	--chat-btn-highlight: var(--highlight-color);
	--chat-bg: rgba(0, 0, 0, 0.7);
	--chat-msg: var(--text-color);
	--chat-border: var(--border-btn-color);
	--box-shadow-inset: inset 0px 0px 5px var(--highlight-color);
  --selected-btn: #000000;
}

.minimalDark {
	--background-color: linear-gradient(
	to right,
	#0A1014 0%,
	#1A2A35 50%,
	#0A1014 100%
	);
	--text-color: #E0E0E0;
	--border-btn-color: #4A4A4A;
	--highlight-color: #FFFFFF;
	--icon-color: #808080;
	--box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);

	--placeholder-color: var(--text-color);
	--chat-btn-highlight: var(--highlight-color);
	--chat-bg: rgba(0, 0, 0, 0.7);
	--chat-msg: var(--text-color);
	--chat-border: var(--border-btn-color);
	--box-shadow-inset: inset 0px 0px 5px var(--highlight-color);
  --selected-btn: #000000;
}

/*
  --background-color: #b8acac;
  --text-color: #3e3f4a;
  --border-btn-color: #000000;
  --highlight-color: #ffffff;
  * icon color */
   /* --icon-color: #3e3f4a; */
   /* placeholder color */
   /* --placeholder-color: #3e3f4a; */
  /* chat */
  /* --chat-btn-highlight: #000000; */
  /* --chat-bg: #b8acac; */
  /* --chat-msg: #3e3f4a; */
  /* --chat-border: #3e3f4a; */
  /* btn-color */
  /* --box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
  --box-shadow-black: 0px 0px 7px rgba(0, 0, 0, 0.9);
  --box-shadow-inset: inset 0px 0px 3px rgba(255, 255, 255, 0.9);
  --box-shadow-highlight: 0px 0px 3px rgba(255, 255, 255, 1);
  --box-shadow-highlight-inset: inset 0px 0px 1px rgba(255, 255, 255, 1);
  --box-shadow-neonChat1: 0 0 0px #000000, 0 0 2px #000000, 0 0 4px #000000, 0 0 6px #000000;
  --box-shadow-neonChat2: 0 0 8px #000000;
  --box-shadow-neonChat3: 0 0 14px #000000;
  --box-shadow-mainContent1: 0 0 0px #000000, 0 0 2px #000000, 0 0 4px #000000, 0 0 6px #000000;
  --box-shadow-mainContent2: 0 0 8px #000000;
  --box-shadow-mainContent3: 0 0 14px #000000; */
/* } */
