@import url('_user.css');
@import url('_home.css');

body
{
	background-color: #455F78;
	color: #1A1A40;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 60px;
}

p
{
	color: #000000;
	margin-left: 150px;
	font-size: 30px;
}

button:disabled
{
    background-color: grey;
    color: white;
    cursor: not-allowed;  /* for inactif button */
    opacity: 0.6;
}

/* ---------------------- Nav Bar ---------------------- */

#me
{
    font-family: 'Dancing Script', cursive;
    font-weight: bold; 
    color: #FEFCFF; 
	white-space: nowrap;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: font-size 1.8s ease, top 1.5s ease;
	font-size: 1.5rem;
}

.navbar
{
    display: flex;
    justify-content: space-between;
	align-items: center;
    background-color: #0A1730;
	transition: height 1.2s cubic-bezier(0.42, 0, 0.58, 1);
	overflow: hidden;
	height: 80px;
	padding: 0 20px;
	position: relative;
}

.navbar.expanded
{
	height: 150px;
}

.navbar .container-fluid
{
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
}

.navbar .navbar-brand 
{
	font-size: 1.2rem;
	transition: font-size 1.2s ease, top 1.2s ease;
	position: absolute;
	left: 50%;
	top: 1px;
	transform: translateX(-50%);
}

.navbar.expanded .navbar-brand
{
    font-size: 3rem;
    top: 50%; 
    transform: translate(-50%, -50%);
}


/* .navbar:hover  */
.navbar-brand
{
    font-size: 3rem; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

/* .navbar:hover
{
    height: 150px;
} */

.navbar .buttons-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.navbar .nav-links
{
    display: flex;                 
    justify-content: space-between;
    flex: 1;  
}

.navbar a
{
    margin: 10px;
    text-decoration: none;
    color: #000000;
	font-size: 30px;
    font-family: 'Patrick Hand', cursive;
}

/* ---------------------Button Nav Bar------------------------- */

.custom-home, .custom-leaderboard, .custom-register, .custom-42, .custom-user
{
	background-color: #455F78;
	color: #1A1A40;
    border-color: #000000;
	border-radius: 5px; 
	font-weight: bold; 
}

.custom-home:hover, .custom-leaderboard:hover, .custom-register:hover, .custom-42:hover, .custom-user:hover
{
    color: #1F2E4D;
    background-color: #6DC7C1;
    border-color: #000000;

    transform: scale(1.1);
}

.custom-home:active, .custom-leaderboard:active, .custom-register:active, .custom-42:active, .custom-user:active
{
	color: #0A1730 !important;
    background-color: #455F78 !important;
}

.custom-home
{	
	width: 100px;
	height: 35px;
	font-size: 1rem; 
	margin-right: 10px;
}

.custom-leaderboard 
{
	width: 140px;
	height: 35px;
	font-size: 1rem; 
	margin-right: 10px;
}

.custom-register, .custom-user
{	
	width: 120px; 
	height: 35px; 
	font-size: 1rem;
}

.custom-42
{
	width: 150px; 
	height: 35px; 
	font-size: 1rem; 
	margin-left: 10px;
}

/* profile button effect */

/* .profile-choices { */
    /* display: flex; */
    /* flex-direction: column; */
    /* position: absolute; */
    /* top: 50px; */
    /* left: 0; */
/* } */
/*  */
/* .hidden { */
    /* display: none; */
/* } */
/*  */
/* .profile-btn { */
    /* margin: 5px 0; */
/* } */

/* ----------------------- Main Content ---------------------------- */
.container
{
    display: flex;
    justify-content: center;
    gap: 10px;
	max-width: 90%;
	margin: 0 auto;
}

/* ------------------------ Main Button ---------------------------- */

#btn-QuickGame, #btn-Match , #btn-Tournament, #btn-Leaderboard,
#btn-Profile, #btn-Settings, #btn-Inbox, #btn-Logout,
#btn-Login, #btn-Register, #btn-Login42
{
	background-color: #1F2E4D;
	color: #6DC1C1;
}
#btn-QuickGame:hover, #btn-Match:hover , #btn-Tournament:hover, #btn-Leaderboard:hover,
#btn-Profile:hover, #btn-Settings:hover, #btn-Inbox:hover, #btn-Logout:hover,
#btn-Login:hover, #btn-Register:hover, #btn-Login42:hover
{
	color: #1F2E4D;
    background-color: #6DC7C1;
    border-color: #000000;
}
#btn-QuickGame:active, #btn-Match:active , #btn-Tournament:active, #btn-Leaderboard:active,
#btn-Profile:active, #btn-Settings:active, #btn-Inbox:active, #btn-Logout:active,
#btn-Login:active, #btn-Register:active, #btn-Login42:active
{
	color: #0A1730;
    background-color: #455F78;
    border-color: #000000;
}

/* -------------------- End Page --------------------------- */

.footer-text
{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px 20;
	font-size: 20px;
	color: #FEFCFF !important;
	height: 50px;
}