@import url("_globalVar.css");

/* Profile container */
.profile-container {
	background-color: var(--background-color);
	color: var(--highlight-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	height: 100%;
	padding: 30px;
  }


  /* Header layout */
.profile-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25%;
	width: 80%;
	gap: 0px 30px;
	flex-wrap: wrap;
  }
  
.profile-avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid var(--highlight-color);
  }

  @media (max-width: 768px) {
	.profile-avatar {
		width: 80px;
		height: 80px;
	  }
	.profile-header {
		justify-content: flex-start;
	}

}

.profile-info {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	width: 60%;
}

.profile-username {
	margin: 5px;
  }
  
.profile-alias {
	margin: 5px;
	font-size: 14px;
	color: #666;
  }


/* Status indicator */
.status-container {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 5px;
	color: #666;
  }

.status-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
  }
  
.status-online {
	background-color: #2ecc71;
  }
  
.status-offline {
	background-color: #666;
  }


/* Profile stats */
.profile-stats-container {
	display: flex;
	gap: 0px 10px;
    margin: 5px 5px 5px 15px;
}

/* @media (min-width: 768px) {
	.profile-stats-container {
		margin: 5px
	}
} */
  
.profile-stats {
	text-align: right;
	font-size: 16px;
	/* margin: 5px 5px; */
  }

  
/* Match history styling */
.profile-match-history {
    width: 80%;
    background-color: var(--background-color);
	border: 2px solid var(--highlight-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.match-history-title {
	font-size: 45px;
    margin-bottom: 40px;
	text-align: center;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: var(--background-color);
    color: var(--highlight-color);
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: darken(var(--background-color), 10%);
    border: 2px solid var(--highlight-color);
}

.pagination .active {
    background-color: darken(var(--background-color), 20%);
}

.match-history-content {
    max-height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
}

.match-result {
    font-weight: bold;
    text-align: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.score {
    text-align: center;
}

.enemy-info {
    display: flex;
    align-items: center;
}

.enemy-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.match-date {
    text-align: center;
    color: gray;
    font-size: 14px;
}