@import url("_globalVar.css");


/* Profile container */
.profile-container {
	background-color: var(--background-color);
	color: var(--highlight-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: flex-start; */
	gap: 70px;
	width: 100%;
	height: 100%;
  }
  
/* Header layout */
.profile-header {
	/* margin: 50px 200px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20%;
	width: 70%;
  }
  
.profile-avatar {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid var(--highlight-color);
  }
  
.profile-names {
	display: flex;
	flex-direction: column;
    align-items: center;
    width: 15%;
    height: 20%;
	margin: 10px 5px 20px 5px;
  }

.profile-username {
	width: 100%;
	height: 100%;
	margin: 5px;
  }
  
.profile-alias {
	width: 100%;
	height: 100%;
	margin: 5px;
	font-size: 14px;
	color: #666;
  }
  
.profile-stats {
	text-align: right;
	font-size: 16px;
	margin: 5px 5px;
  }

/* Status indicator */
.status-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
  }
  
.status-online {
	background-color: #2ecc71;
  }
  
.status-offline {
	background-color: #666;
  }
  
.status-container {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #666;
  }
  
  /* Match history styling */
.profile-match-history {
    margin-top: 20px;
    width: 70%; /* Adjust width as needed */
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.match-history h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--highlight-color);
    text-align: center;
}

#matchHistory {
    list-style: none;
    padding: 0;
}

#matchHistory li {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

#matchHistory li:hover {
    background-color: rgba(46, 204, 113, 0.1); /* Light green background on hover */
    transform: scale(1.02); /* Slightly enlarge on hover */
}

#matchHistory li:last-child {
    border-bottom: none;
}

.match-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
}

.match-date {
    font-weight: bold;
}

.match-winner {
    color: #2ecc71; /* Green for winner */
    font-weight: bold;
}