@import url("_leaderboard.css");
@import url("_profile_user.css");
@import url("_settings_user.css");
@import url("_auth_form.css");
@import url("_toast.css");
@import url("themes/_globalVar.css");
@import url("_livechat.css");
@import url("buttons.css");
@import url("_icons.css");

body {
  background: var(--background-color);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: 200% 200%;
  animation: gradient 120s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  backdrop-filter: blur(12px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

p {
  color: var(--text-color);
  font-size: 30px;
}

p1 {
  color: var(--text-color);
  padding-top: 15px;
  font-size: 20px;
}

/* david work */

.custom-h1 {
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 0;
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ---------------------- Nav Bar ---------------------- */

#me {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #fefcff;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition:
    font-size 1.8s ease,
    top 1.5s ease;
  font-size: 1.5rem;
}

.navbar.expanded {
  height: 150px;
}

.main-img {
  margin-top: 50px;
  width: 380px;
  border-radius: 10px;
}

.navbar-parent {
  position: relative;
  display: flex;
  height: 100px;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .navbar-brand {
  font-size: 1.2rem;
  position: absolute;
  left: 50%;
  top: 1px;
}

.d-flex {
  filter: blur(0);
}

.tournament-gap {
  gap: 10px;
}

.my-row {
  flex-direction: row;
}

.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.navbar a {
  margin: 10px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
}

/* ----------------------- Main Content ---------------------------- */
.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

/* .neon-white */
/* { */
/*   transition: box-shadow 0.4s ease-in-out; */
/* } */

.neon-main-image {
  box-shadow: var(--neon-main-image);
}

.neon-main-image:hover {
  box-shadow: var(--neon-main-image);
}

.neon-blue {
  transition: box-shadow 0.4s ease-in-out;
}

.neon-blue:hover {
  box-shadow:
    0 0 0px #225585,
    0 0 1px #225585,
    0 0 2px #225585,
    0 0 3px #225585,
    0 0 4px #28649c,
    0 0 7px #3076b8,
    0 0 8px #3788d4,
    inset 0 0 0px #225585,
    inset 0 0 1px #225585,
    inset 0 0 2px #225585,
    inset 0 0 3px #225585,
    inset 0 0 4px #28649c,
    inset 0 0 7px #3076b8,
    inset 0 0 8px #3788d4;
}

.neon-blue {
  transition: box-shadow 0.5s ease !important;
  box-shadow:
    0 0 0px transparent,
    0 0 2px transparent,
    0 0 4px transparent,
    0 0 6px transparent,
    0 0 8px transparent,
    0 0 14px transparent;
}

.neon-blue:hover {
  box-shadow: var(--box-shadow-mainContent1), var(--box-shadow-mainContent2),
    var(--box-shadow-mainContent3);
}

.neon-blue:focus {
  box-shadow: var(--box-shadow-mainContent1), var(--box-shadow-mainContent2),
    var(--box-shadow-mainContent3);
}

.max-height-90 {
  max-height: 90%;
}

.neon-purple {
  transition: box-shadow 0.5s ease !important;
  box-shadow:
    0 0 0px transparent,
    0 0 2px transparent,
    0 0 4px transparent,
    0 0 6px transparent,
    0 0 8px transparent,
    0 0 14px transparent;
}

.livechat-neon-focus {
  box-shadow: var(--box-shadow-neonChat1), var(--box-shadow-neonChat2),
    var(--box-shadow-neonChat3);
}

.neon-purple:hover {
  box-shadow: var(--box-shadow-neonChat1), var(--box-shadow-neonChat2),
    var(--box-shadow-neonChat3);
}

.neon-purple:focus {
  box-shadow: var(--box-shadow-neonChat1), var(--box-shadow-neonChat2),
    var(--box-shadow-neonChat3);
}

.gap-dynamic {
  gap: 0px;
  transition: gap 0.1s ease-in-out;
  /* Ajoute une transition smooth sur la propriété gap */
}

.gap-dynamic.has-visible-livechat {
  gap: 50px;
}

/* ------ modification par iD de thibaud  ------------------------ */

#settingView {
  font-size: 70px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mapOption {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .map-image, */
/* .game-image { */
/*   width: 200px; */
/*   height: auto; */
/*   border-radius: 5px; */
/* } */

/* -------------------------- Game Selection ---------------------- */

.container-game {
  background: var(--background-color);
  border-radius: 10px;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.game-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  width: 100%;
  padding: 10px;
  background: var(--background-color);
}

.game-row-online {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  width: 100%;
  padding: 10px;
  background: var(--background-color);
}

.game-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-game2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: #0a1730;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 1600px;
  max-height: 200px;
  margin: 0 auto;
  margin-top: 40px;
}

.game-settings2 {
  margin-right: 50px;
  text-align: center;
  color: #ffffff;
}

.settings-info2 p {
  margin: 5px 0;
  color: #6dc1c1;
  font-size: 20px;
}

.settings-column2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.title-image-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.game-title3 img {
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 3px;
  border: 10px;
  border-color: white;
  margin-top: 30px;
}

.game-title3 h2 {
  margin: 0;
  font-size: 34px;
  color: #455f78;
  margin-bottom: 30px;
}

.game-settings3 {
  margin-top: -55px;
  /* Ajustez cette valeur selon vos besoins */
}

/* test */

.card {
  border: none;
}

.game-title {
  margin: 0;
  font-size: 20px;
  color: var(--text-color);
  width: 300px;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

/* .game-title2 { */
/*   margin: 0; */
/*   font-size: 34px; */
/*   color: var(--text-color); */
/*   width: 20%; */
/* } */

.map-image,
.game-image {
  width: 250px;
  height: auto;
  border-radius: 5px;
  display: flex;
  object-fit: cover;
  /* ou 'cover' selon vos besoins */
  justify-content: center;
}

.game-image img {
  width: 230px;
  height: auto;
  border-radius: 5px;
  display: block;
}

.game-settings {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
}

.width-170 {
  width: 170px;
}

.settings-info {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.settings-info p {
  margin: 0;
  font-size: 20px;
}

.settings-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settings-font-name p {
  font-size: 30px;
  margin: 0;
}

.settings-font p {
  font-size: 20px;
  margin: 0;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

/* ----------------------- Score Board ------------------------- */

#scoreboard {
  color: #0a1730;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}

#scoreRow {
  color: #0a1730;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 20px;
  max-width: 840px;
}

#player {
  display: flex;
  margin-left: 150px;
}

#ai {
  display: flex;
  margin-right: 150px;
}

#playerScore,
#aiScore {
  font-size: 50px;
}

#vs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myCanvas {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  background-color: var(--background-color);
}

/* #rematchBtn:not(:disabled):hover,
#quitGameBtn:hover {
  background-color: #6dc7c1;
  transform: scale(1.05);
}

#rematchBtn:not(:disabled):active,
#quitGameBtn:active {
  background-color: #003372;
  transform: scale(0.95);
} */

/* ------------------- Room View ---------------------------- */

.min-h-200px {
  min-height: 250px;
}

.container-room {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  overflow: auto;
}

.max-h-350px {
  max-height: 350px;
}

.server-list,
.host-server {
  background: var(--quartiary-color);
  border-radius: 10px;
  color: var(--text-color);
}

.server-list h2,
.host-server h2 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2em;
  color: var(--text-color);
}

.host-server h3 {
  text-align: center;
  padding: 30px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.4em;
  color: var(--text-color);
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.room-name {
  color: var(--text-color-rooms);
  font-size: 1.2em;
  font-weight: bold;
}

.room-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  color: var(--text-color-rooms);
  padding-top: 5px;
}

.room-players,
.room-difficulty,
.room-level,
.room-status {
  font-size: 0.9em;
}

.server-item {
  background-color: var(--background-rooms);
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

/* .server-item 
{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0;
padding: 8px;
background-color: #1A1A40;
border-radius: 5px;
color: var(--text-color);;
} */
#noRoomsMessage {
  font-size: 20px;
}
.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  color: #ccc;
  padding-top: 10px;
}

.host-server input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* ---------------------------Brickout--------------------------------- */
#brickoutCanvas {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  background-color: #000000;
}

.nextLevel {
  display: flex;
  justify-content: center;
  max-width: 800px;
  padding-top: 30px;
  gap: 50px;
  align-items: center;
  margin: 0 auto;
}

/* ---------------------------2P Brickout--------------------------------- */

#brickoutCanvas2 {
  display: block;
  margin: 0 auto;
  border: 2px solid #fefcff;
  border-radius: 8px;
  background-color: #000000;
}

#twoPlayerBrick {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 20;
  font-size: 20px;
  color: var(--secondary-color);
}

.footer-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 20;
  font-size: 20px;
  color: #fefcff;
}

/* live chat qui slide */

.slideWithLiveChat {
  flex: 1;
  transition: flex 0.5s ease;
}

.slidingDiv {
  width: 0;
  height: 0;
  max-width: 33%;
  transition:
    width 0.5s ease,
    box-shadow 0.5s ease !important;
  visibility: hidden;
  pointer-events: none;
  padding: 0;
}

.slidingDiv.visible {
  width: 33%;
  height: 100%;
  visibility: visible;
  pointer-events: auto;
  padding: 20px;
}

.slidingDiv.hide-children * {
  display: none;
}

/* end live chat qui slide */

/* petite icone fill et dots */

/* new ajouts */

#viewportContainer {
  height: 100vh;
}

.card {
  border-color: var(--highlight-color);
  border-radius: 0;
}

.card-body {
  background-color: var(--background-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  border-color: var(--highlight-color);
}

.card-game {
  background-color: var(--background-color);
}

.card-header:first-child {
  border-radius: unset;
}

.card-header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-color: var(--highlight-color);
}

.input-group {
  margin-top: auto;
}

.status-dot {
  font-size: 0.8em;
}

/* -------------------- End Page --------------------------- */
/* .footer-text */
/* { */
/*   position: absolute; */
/*   bottom: 10px; */
/*   left: 0; */
/*   width: 100%; */
/*   text-align: center; */
/*   padding: 10px 20; */
/*   font-size: 20px; */
/*   color: #FEFCFF !important; */
/* } */

/* -------------------- Medias --------------------- */

@media (max-width: 1600px) {
  .slidingDiv {
    width: 0;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    position: absolute;
  }
  .slidingDiv.visible {
    height: 90%;
    width: 90%;
    position: absolute;
  }
}

@media (max-width: 1350px) {
  #settingView {
    flex-direction: column !important;
  }
  #localPlay {
    width: 100% !important;
  }
  #onlinePlay {
    width: 100% !important;
  }
  #playBtn3 {
    width: 153px;
  }
  #playBtn4 {
    width: 153px;
  }
  .container-game {
    justify-content: flex-start !important;
  }
}

@media (max-width: 1050px) {
  .container-room {
    flex-direction: column;
    justify-content: flex-start;
  }
  .server-list,
  .host-server {
    width: 100% !important;
  }
  .game-settings {
    width: 100%;
  }
  .settingsViewOverflow {
    justify-content: start !important;
  }
  .container-game {
    justify-content: flex-start !important;
  }
  #settingView {
    padding: 0;
  }
  .game-row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 0;
  }
  .game-row-online {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 0;
  }
  .game-play {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .main-btn {
    width: 90%;
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  /* Small devices (sm) */
  .min-height-sm {
    min-height: 300px; /* Adjust the height as needed */
  }
}


.matchup {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.matchup.highlight-current {
border: 2px solid red;
}

.player.winner {
  font-weight: bold;
  color: #28a745;
}
