@import url("_user.css");
@import url("_home.css");
@import url("themes/_globalVar.css");
@import url("_livechat.css");

body {
	background: var(--background-color);
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-size: 200% 200%;
    animation: gradient 120s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    backdrop-filter: blur(12px);
}

@keyframes gradient {
    0% { 
        background-position: 0% 50%;
    }
    100% { 
        background-position: 200% 50%;
    }
}


p {
	color: var(--text-color);
	margin-left: 150px;
	font-size: 30px;
}

/* david work */

.custom-h1 {
	font-size: 3rem;
	color: var(--text-color);
	text-align: center;
	margin-bottom: 0;
}

.height-btn {
	height: 50px;
}

.no-scrollbar {
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari, Opera */
}


/* ---------------------- Nav Bar ---------------------- */

#me {
	font-family: "Dancing Script", cursive;
	font-weight: bold;
	color: #fefcff;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition:
		font-size 1.8s ease,
		top 1.5s ease;
	font-size: 1.5rem;
}

/* ajouts david */

.btn-glow {
	color: var(--text-color);
	background-color: transparent;
	border: none;
	position: relative;
	overflow: hidden;
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}

.btn-glow:focus {
	color: var(--highlight-color);
}

.navbar.expanded {
	height: 150px;
}

.btn-glow:hover {
	color: var(--highlight-color);
}

.btn-glow::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

/* fin ajouts david */

.main-img {
  margin-top: 50px;
  width: 380px;
  border-radius: 10px;
  /* height: ; */
}

.navbar-parent {
	position: relative;
	display: flex;
	height: 100px;
}

.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

/* .navbar.expanded */
/* { */
/*   height: 150px; */
/* } */

.navbar .container-fluid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navbar .navbar-brand {
	font-size: 1.2rem;
	/* transition: font-size 1.2s ease, top 1.2s ease; */
	position: absolute;
	left: 50%;
	top: 1px;
	/* transform: translateX(-50%); */
}

.d-flex {
	filter: blur(0);
}

.tournament-gap {
  gap: 10px;
}

.my-row {
  flex-direction: row;
}

/* .navbar.expanded .navbar-brand */
/* { */
/*   font-size: 3rem; */
/*   top: 50%;  */
/*   /* transform: translate(-50%, -50%); */
*/
/* } */


/* .navbar:hover .navbar-brand */
/* { */
/*   font-size: 3rem;  */
/*   top: 50%;  */
/*   /* transform: translate(-50%, -50%); */
*/
/* } */

/* .navbar:hover */
/* { */
/*   height: 150px; */
/* } */

.navbar .buttons-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navbar .nav-links {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.navbar a {
	margin: 10px;
	text-decoration: none;
	color: var(--primary-color);
	font-size: 30px;
	font-family: "Patrick Hand", cursive;
}

/* ---------------------Button Nav Bar------------------------- */

.custom-home,
.custom-leaderboard,
.custom-register,
.custom-42 {
	background-color: var(--quartiary-color);
	color: #1a1a40;
	border-color: var(--primary-color);
	border-radius: 5px;
	font-weight: bold;
}

.custom-home {
	width: 100px;
	height: 35px;
	font-size: 1rem;
	margin-right: 10px;
}

.custom-leaderboard {
	width: 140px;
	height: 35px;
	font-size: 1rem;
	margin-right: 10px;
}

.custom-register {
	width: 120px;
	height: 35px;
	font-size: 1rem;
}

.custom-42 {
	width: 150px;
	height: 35px;
	font-size: 1rem;
	margin-left: 10px;
}

.custom-home:hover,
.custom-leaderboard:hover,
.custom-register:hover,
.custom-42:hover {
	color: var(--primary-color);
	background-color: #6dc7c1;
	border-color: var(--primary-color);

	transform: scale(1.1);
}

.custom-home:active,
.custom-leaderboard:active,
.custom-register:active,
.custom-42:active {
	color: #0a1730;
	background-color: var(--quartiary-color);
}

/* ----------------------- Main Content ---------------------------- */
.container {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0;
}

/* .neon-white */
/* { */
/*   transition: box-shadow 0.4s ease-in-out; */
/* } */

.neon-white {
	box-shadow:
		0 0 0px #ffffff,
		0 0 1px #ffffff,
		0 0 2px #ffffff,
		0 0 3px #ffffff,
		0 0 4px #ffffff,
		0 0 7px #ffffff,
		0 0 8px #ffffff,
		inset 0 0 0px #ffffff,
		inset 0 0 1px #ffffff,
		inset 0 0 2px #ffffff,
		inset 0 0 3px #ffffff,
		inset 0 0 4px #ffffff,
		inset 0 0 7px #ffffff,
		inset 0 0 8px #ffffff;
}

.neon-white:hover {
	box-shadow:
		0 0 0px #ffffff,
		0 0 1px #ffffff,
		0 0 2px #ffffff,
		0 0 3px #ffffff,
		0 0 4px #ffffff,
		0 0 7px #ffffff,
		0 0 8px #ffffff,
		inset 0 0 0px #ffffff,
		inset 0 0 1px #ffffff,
		inset 0 0 2px #ffffff,
		inset 0 0 3px #ffffff,
		inset 0 0 4px #ffffff,
		inset 0 0 7px #ffffff,
		inset 0 0 8px #ffffff;
}

.neon-blue {
	transition: box-shadow 0.4s ease-in-out;
}

.neon-blue:hover {
	box-shadow:
		0 0 0px #225585,
		0 0 1px #225585,
		0 0 2px #225585,
		0 0 3px #225585,
		0 0 4px #28649c,
		0 0 7px #3076b8,
		0 0 8px #3788d4,
		inset 0 0 0px #225585,
		inset 0 0 1px #225585,
		inset 0 0 2px #225585,
		inset 0 0 3px #225585,
		inset 0 0 4px #28649c,
		inset 0 0 7px #3076b8,
		inset 0 0 8px #3788d4;
}


.neon-blue {
	transition: box-shadow 0.5s ease !important;
	box-shadow:
		0 0 0px transparent,
		0 0 2px transparent,
		0 0 4px transparent,
		0 0 6px transparent,
		0 0 8px transparent,
		0 0 14px transparent;
}

.neon-blue:hover {
	box-shadow: var(--box-shadow-mainContent1), var(--box-shadow-mainContent2), var(--box-shadow-mainContent3);
}

.neon-blue:focus {
	box-shadow: var(--box-shadow-mainContent1), var(--box-shadow-mainContent2), var(--box-shadow-mainContent3);
}

.max-height-90 {
	max-height: 90%;
}

.neon-purple {
	transition: box-shadow 0.5s ease !important;
	box-shadow:
		0 0 0px transparent,
		0 0 2px transparent,
		0 0 4px transparent,
		0 0 6px transparent,
		0 0 8px transparent,
		0 0 14px transparent;
}

.livechat-neon-focus {
	box-shadow: var(--box-shadow-neonChat1), var(--box-shadow-neonChat2), var(--box-shadow-neonChat3);
}

.neon-purple:hover {
	box-shadow: var(--box-shadow-neonChat1), var(--box-shadow-neonChat2), var(--box-shadow-neonChat3);
}

.neon-purple:focus {
	box-shadow: var(--box-shadow-neonChat1), var(--box-shadow-neonChat2), var(--box-shadow-neonChat3);
}

.gap-dynamic {
	gap: 0px;
	transition: gap 0.1s ease-in-out;
	/* Ajoute une transition smooth sur la propriété gap */
}

.gap-dynamic.has-visible-livechat {
	gap: 50px;
}

/* ----------------------- settingsviewbtn ---------------------------- */

.mapClic {
	transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}

.mapClic:hover {
	transform: scale(1.05);
	/* box-shadow: var(--box-shadow); */
}

.mapClic:active {
	transform: scale(0.95);
	box-shadow: var(--box-shadow);
}


.settingsBtn {
	background-color: var(--background-color);
	color: var(--text-color);
	width: 170px;
	align-self: center;
	border: 2px solid var(--text-color);
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out transform 0.3s;
}

.settingsBtn:focus,
.settingsBtn:hover {
	transform: scale(1.05);
	color: var(--highlight-color);
	box-shadow: var(--box-shadow), var(--box-shadow-inset);
	border: 2px solid var(--text-color);
}

.settingsBtn:active {
	transform: scale(0.95);
	color: var(--highlight-color);
	box-shadow: var(--box-shadow-highlight);
	border: 2px solid var(--text-color);
}

.level-btn {
	/* box-shadow: var(--box-shadow); */
	background-color: var(--background-color);
	width: 100%;
	height: 42px;
	color: var(--text-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: color 0.5s;
}

.level-btn:hover {
	color: var(--highlight-color);
}


/* ------------------------ Main Button ---------------------------- */

.main-btn {
	background-color: var(--background-color);
	color: var(--text-color);
	border: 2px solid;
	border-color: var(--border-btn-color);
	max-width: 1000px;
	width: 460px;
	align-self: center;
	transition: color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

.main-btn:focus,
.main-btn:hover {
	border-color: var(--highlight-color);
	color: var(--highlight-color);
}

.main-btn:active {
	color: #0a1730;
	background-color: var(--quartiary-color);
	border-color: var(--primary-color);
}

@media (max-width: 768px) {
	.main-btn {
		width: 90%;
		max-width: 90%;
	}
}

/* -------------------------- Setting View ------------------------ */

#settingView {
	font-size: 70px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.button,
.level,
.powerUpBtn,
.map-selection, 
.map-image,
#rematchBtn,
#quitGameBtn,
#nextLevelBtn,
#restartLevelBtn,
#quitBtn
{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.button:hover,
.level:hover,
.powerUpBtn:hover,
.map-image:hover,
#rematchBtn:hover,
#quitGameBtn:hover,
#nextLevelBtn:hover,
#restartLevelBtn:hover,
#quitBtn:hover
{
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--background-color);
    box-shadow: var(--box-shadow);
    transform: translateY(-2px);
}

.button.selected,
.level.selected,
.powerUpBtn.selected,
.map-selection.selected, 
.map-image.selected,
#rematchBtn.selected,
#quitGameBtn.selected,
#nextLevelBtn.selected,
#restartLevelBtn.selected,
#quitBtn.selected
{
    background-color: var(--background-color);
    color: var(--text-color);
    /* border-color: var(--selected-btn); */
    box-shadow: var(--box-shadow-black);
    border: 1px solid var(--selected-btn);
    transform: scale(1.05);
}


.pu {
	margin-top: -15px;
	margin-bottom: 30px;
}

.map-selection {
	display: flex;
	gap: 70px;
}

.mapOption {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* .map-image, */
/* .game-image { */
/*   width: 200px; */
/*   height: auto; */
/*   border-radius: 5px; */
/* } */

#saveBtn:enabled {
	background-color: var(--background-color);
	color: var(--text-color);
	width: 170px;
	align-self: center;
	border: 2px solid var(--text-color);
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out transform 0.3s;
}

#saveBtn {
	background-color: var(--background-color);
	color: var(--text-color);
	width: 170px;
	align-self: center;
	border: 2px solid var(--text-color);
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out transform 0.3s;
}

#saveBtn:active {
	transform: scale(0.90);
	background-color: var(--background-color);
	color: var(--text-color);
	width: 170px;
	align-self: center;
	border: 2px solid var(--text-color);
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out transform 0.3s;
}

#saveBtn:focus,
#saveBtn:hover {
	transform: scale(1.05);
	color: var(--highlight-color);
	box-shadow: var(--box-shadow), var(--box-shadow-inset);
	border: 2px solid var(--text-color);
}

#saveBtn:disabled {
    color: #5a5a5a;
    border: 1px solid #000000;
    cursor: not-allowed;
    opacity: 0.2;
    transform: none;
    box-shadow: none;
    pointer-events: none;
}

#startGameBtn,
#quickGameBtn,
#tournamentGameBtn {
	width: 200px;
	height: 60px;
	font-size: 20px;
	background-color: #0a1730;
	color: var(--secondary-color);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		transform 0.4s;
}

#startGameBtn:hover,
#quickGameBtn:hover,
#tournamentGameBtn:hover {
	background-color: #6dc7c1;
	transform: scale(1.05);
}

#startGameBtn:active,
#quickGameBtn:active,
#tournamentGameBtn:active {
	background-color: #003372;
	transform: scale(0.95);
}

.button-container {
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	gap: 10px;
	align-items: center;
	margin: 0 auto;
}

/* -------------------------- Game Selection ---------------------- */

.container-game {
  display: flex;
  flex-direction: column;
  gap: 78px;
  background: var(--background-color);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.game-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-width: 600px;
	width: 100%;
	padding: 10px;
	background: var(--background-color);
}

.game-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.container-game2 {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px;
	background: #0A1730;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	width: 100%;
	max-width: 1600px;
	max-height: 200px;
	margin: 0 auto;
	margin-top: 40px;
}

.game-settings2 {
	margin-right: 50px;
	text-align: center;
	color: #ffffff;
}

.settings-info2 p {
	margin: 5px 0;
	color: #6DC1C1;
	font-size: 20px;
}

.settings-inline {
	display: flex;
	align-items: left;
	gap: -10px;
}

.settings-column2 {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 15px;
}


.title-image-container {
	display: flex;
	align-items: center;
	gap: 100px;
}

.game-title3 img {
	width: 20%;
	height: 20%;
	object-fit: cover;
	border-radius: 3px;
	border: 10px;
	border-color: white;
	margin-top: 30px;
}

.game-title3 h2 {
	margin: 0;
	font-size: 34px;
	color: #455F78;
	margin-bottom: 30px;
}

.game-settings3 {
	margin-top: -55px;
	/* Ajustez cette valeur selon vos besoins */
}

.startSelect-button2 {
	font-size: 48px;
	padding: 8px 12px;
	background-color: #1F2E4D;
	border: none;
	color: #6DC1C1;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 150px;
}


/* test */

.card {
	border: none;
}

@media (max-width: 1050px) {
	.settingsViewOverflow {
		justify-content: start !important;
	}

	.container-game {
		justify-content: flex-start !important;
	}

	#settingView {
		padding: 0;
	}

	.game-row {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.settings-inline {
		flex-direction: column;
		align-items: center;
	}

	.game-play {
		width: 100% !important;
	}
}

.game-title {
	margin: 0;
	font-size: 20px;
	color: var(--text-color);
	width: 300px;
	justify-content: center;
	display: flex;
	box-sizing: border-box;
}

/* .game-title2 { */
/*   margin: 0; */
/*   font-size: 34px; */
/*   color: var(--text-color); */
/*   width: 20%; */
/* } */

.map-image,
.game-image {
	width: 250px;
	height: auto;
	border-radius: 5px;
	display: flex;
	object-fit: cover;
	/* ou 'cover' selon vos besoins */
	justify-content: center;
}

.game-image img {
	width: 230px;
	height: auto;
	border-radius: 5px;
	display: block;
}

.game-settings {
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--secondary-color);
}

@media (max-width: 1050px) {
	.game-settings {
		width: 100%;
	}
}

.game-play {
	width: 100px;
	display: flex;
	justify-content: center;
}

.settings-info {
	justify-content: center;
	align-items: center;
}

.settings-info p {
	margin: 5px 0;
	font-size: 20px;
}

.settings-inline {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-direction: column;
}

.settings-column {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.settings-inline p {
	margin: 0;
}

.w-40 {
  width: 40%;
}

.createRoom-button{
  font-size: 28px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}

.settingsSelect-button {
	font-size: 28px;
	border-radius: 5px;
	cursor: pointer;
	width: 150px;
}

/* .settingsSelect-button2 { */
/*   padding: 8px 12px; */
/*   font-size: 28px; */
/*   margin-bottom: 10px; */
/*   background-color: var(--primary-color); */
/*   color: #6dc1c1; */
/*   margin-right: 78px; */
/*   border: none; */
/*   border-radius: 5px; */
/*   cursor: pointer; */
/*   margin-left: 10px; */
/* } */

.startSelect-button {
	font-size: 48px;
	padding: 8px 12px;
	background-color: var(--primary-color);
	border: none;
	color: #6dc1c1;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.start-button:hover,
.settings-button:hover {
	opacity: 0.9;
}

/* #playBtn, */
/* #playBtn2 { */
/*   width: 200px; */
/*   height: 60px; */
/*   font-size: 20px; */
/*   background-color: #0a1730; */
/*   color: var(--secondary-color); */
/*   border: none; */
/*   border-radius: 10px; */
/*   cursor: pointer; */
/*   transition: */
/*     background-color 0.3s, */
/*     transform 0.4s; */
/*   margin-bottom: 40px; */
/* } */

/* #playBtn:hover, */
/* #playBtn2:hover { */
/*   color: var(--primary-color); */
/*   background-color: #6dc7c1; */
/*   border-color: var(--primary-color); */
/* } */
/**/
/* #playBtn:active, */
/* #playBtn2:active { */
/*   color: var(--primary-color); */
/*   background-color: #6dc7c1; */
/*   border-color: var(--primary-color); */
/* } */
/* ----------------------- Score Board ------------------------- */

#scoreboard {
	color: #0a1730;
	text-align: center;
	margin-bottom: 10px;
	font-size: 24px;
}

#scoreRow {
	color: #0a1730;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-size: 20px;
	max-width: 840px;
}

#player {
	display: flex;
	margin-left: 150px;
}

#ai {
	display: flex;
	margin-right: 150px;
}

#playerScore,
#aiScore {
	font-size: 50px;
}

#vs {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#myCanvas {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  background-color: var(--background-color);
}

/* #rematchBtn,
#quitGameBtn,
#nextLevelBtn,
#restartLevelBtn,
#quitBtn
{
	width: 200px;
	height: 60px;
	font-size: 20px;
	background-color: #0a1730;
	color: var(--secondary-color);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		transform 0.4s;
}
*/

#rematchBtn:not(:disabled):hover,
#quitGameBtn:hover {
	background-color: #6dc7c1;
	transform: scale(1.05);
}

#rematchBtn:not(:disabled):active,
#quitGameBtn:active {
	background-color: #003372;
	transform: scale(0.95);
} 

button:disabled {
	background-color: grey;
	color: white;
	cursor: not-allowed;
	opacity: 0.6;
}

/* ------------------- Room View ---------------------------- */

.min-h-200px {
  min-height: 250px;
}


.container-room {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  overflow: auto;
}

@media (max-width: 1050px) {
  .container-room {
    flex-direction: column;
    justify-content: flex-start;
  }
  .server-list,
  .host-server {
    width: 100% !important;
  }
}

.max-h-350px {
  max-height: 350px;
}

.server-list,
.host-server {
  background: var(--quartiary-color);
  border-radius: 10px;
  color: white;
}

.server-list h2,
.host-server h2 {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 1.2em;
	color: var(--secondary-color);
}

.host-server h3 {
	text-align: center;
	padding: 30px 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.4em;
	color: #6dc7c1;
}


.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #455F78;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.room-name {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.room-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  color: #ccc;
  padding-top: 5px;
}

.room-players, .room-difficulty, .room-level, .room-status {
  font-size: 0.9em;
}

.joinRoomBtn {
  /* Keep your existing button styles */
  background-color: #455F78;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.server-item {
  background-color: #1F2E4D;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

/* .server-item 
{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0;
padding: 8px;
background-color: #1A1A40;
border-radius: 5px;
color: white;
} */
.server-item button 
{
  background-color: #455F78;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.server-item button:disabled {
	background-color: #555;
	cursor: not-allowed;
}
#noRoomsMessage
{
  font-size: 20px;
}
.refresh 
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  color: #ccc;
  padding-top: 10px;
}

.host-server input {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
	border-radius: 5px;
	border: none;
}

.settings {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.settings button {
	background-color: var(--quaternary-color);
	border: none;
	color: white;
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
}

.start-button {
	background-color: #1a1a40;
	border: none;
	color: white;
	padding: 10px;
	font-size: 1.2em;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

/* ---------------------------Brickout--------------------------------- */
#brickoutCanvas {
	display: block;
	margin: 0 auto;
	border: 2px solid var(--secondary-color);
	border-radius: 8px;
	background-color: #1a1a40;
}

.finish,
.nextLevel {
	display: flex;
	justify-content: center;
	max-width: 800px;
	padding-top: 30px;
	gap: 50px;
	align-items: center;
	margin: 0 auto;
}

/* ---------------------------2P Brickout--------------------------------- */

#brickoutCanvas2
{
  display: block; 
  margin: 0 auto; 
  border: 2px solid #FEFCFF;
  border-radius: 8px; 
  background-color: #1A1A40; 
}


#twoPlayerBrick
{
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer-text {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px 20;
	font-size: 20px;
	color: var(--secondary-color);
}

.footer-text {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px 20;
	font-size: 20px;
	color: #fefcff;
}

/* live chat qui slide */

.slideWithLiveChat {
	flex: 1;
	transition: flex 0.5s ease;
}

.slidingDiv {
  width: 0;
  height: 0;
  max-width: 33%;
  transition:
  width 0.5s ease,
  box-shadow 0.5s ease !important;
  visibility: hidden;
  pointer-events: none;
  padding: 0;
}

.slidingDiv.visible {
	width: 33%;
	height: 100%;
	visibility: visible;
	pointer-events: auto;
	padding: 20px;
}

@media (max-width: 1300px) {
  .slidingDiv {
    width: 0;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    position: absolute;
  }
  .slidingDiv.visible {
    height: 90%;
    width: 90%;
    position: absolute;
  }
}

.slidingDiv.hide-children * {
	display: none;
}

/* end live chat qui slide */

/* petite icone fill et dots */

.chat-close-icon {
	cursor: pointer;
	color: var(--highlight-color);
	position: absolute;
	bottom: 3%;
	/* ajustez selon vos besoins */
	right: 3%;
	/* ajustez selon vos besoins */
}

/* new ajouts */
.homeIcon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	color: var(--highlight-color);
}

.paletteIcon {
	position: fixed;
    bottom: 30px;
    left: 30px; 
    width: 25px;
    height: 25px;               
	cursor: pointer;
	color: var(--icon-color);
    z-index: 1000;              
}

.paletteIcon svg {
    width: 100%;
    height: 100%;
}

.paletteIcon:hover {
	color: var(--highlight-color);
}

.paletteIcon-fill{
	color: var(--icon-color);
}

.profileIcon {
	width: 50px;
	height: 50px;
	cursor: pointer;
	color: var(--highlight-color);
}

.chat-icon-dots {
	fill: var(--icon-color);
	transition: fill 0.3s ease;
}

.chat-icon-dots:hover {
	fill: var(--highlight-color);
}

.chat-icon-dots:focus {
	fill: var(--highlight-color);
}

.chat-icon-fill {
	fill: var(--icon-color);
	transition: fill 0.3s ease;
}

.chat-icon-fill:hover {
	fill: var(--highlight-color);
}

.chat-icon-fill:focus {
	fill: var(--highlight-color);
}

/* chat icon */
[data-chat-icon]:focus {
	outline: none;
}

[data-chat-icon] svg:hover {
	transform: scale(1.2);
	/* Grossit de 10% */
}

[data-chat-icon]:focus svg {
	fill: var(--highlight-color);
	transform: scale(1.2);
}

/*  home icon */
[data-home-icon]:focus {
	outline: none;
}

[data-home-icon]:focus svg {
	fill: var(--highlight-color);
	transform: scale(1.5);
}

[data-home-icon] svg:hover {
	transform: scale(1.5);
}

/* profile icon */
[data-profile-icon]:focus {
	outline: none;
}

[data-profile-icon]:focus svg {
	fill: var(--highlight-color);
	transform: scale(1.5);
}

[data-profile-icon] svg:hover {
	transform: scale(1.5);
}

[data-home-icon] svg,
[data-palette-icon] svg,
[data-profile-icon] svg,
[data-chat-icon] svg {
	transition: transform 0.3s ease;
	/* Animation douce */
}

/* palette icon */

[data-palette-icon]:focus {
	outline: none;
}

[data-palette-icon]:focus svg {
	fill: var(--highlight-color);
	transform: scale(1.5);
}

[data-palette-icon] svg:hover {
	transform: scale(1.5);
}

/**/

#viewportContainer {
	height: 100vh;
}

.card {
	border-color: var(--highlight-color);
	border-radius: 0;
}

.card-body {
	background-color: var(--background-color);
	padding: 15px;
	display: flex;
	flex-direction: column;
	height: calc(100% - 56px);
	border-color: var(--highlight-color);
}

.card-game {
	background-color: var(--background-color);
}

.card-header:first-child {
	border-radius: unset;
}

.card-header {
	background-color: var(--secondary-color);
	color: var(--text-color);
	border-color: var(--highlight-color);
}

.input-group {
	margin-top: auto;
}

@media (max-width: 576px) {
  /* Small devices (sm) */
  .min-height-sm {
    min-height: 300px; /* Adjust the height as needed */
  }
}

.status-dot {
  font-size: 0.8em;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-outline-primary, .btn-outline-danger, .btn-outline-success {
  border-color: var(--highlight-color);
  color: var(--highlight-color);
}

.btn-outline-primary:hover, .btn-outline-danger:hover, .btn-outline-success:hover {
  background-color: var(--highlight-color);
  color: var(--chat-bg);
}

/* -------------------- End Page --------------------------- */
.footer-text
{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 20;
  font-size: 20px;
  color: #FEFCFF !important;
}
