{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Transcendance</title>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Indie+Flower&family=Dancing+Script&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/style.css' %}?v=1.0" />
    <link rel="shortcut icon"
          type="image/svg"
          href="{% static 'css/images/favicon-pong.svg' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap"
          rel="stylesheet" />
  </head>
  <body class="vw-100 vh-100 mh-100 mw-100">
    <div class="d-flex flex-column mw-100 mh-100 w-100 h-100">
      <div class="navbar-parent px-4 vh-10">
        <nav class="navbar px-5">
          <div class="container-fluid d-flex justify-content-between">{% include 'icons_top.html' %}</div>
        </nav>
      </div>
      <div class="w-100 vh-80" style="max-height: calc(100vh - 100px)">
        <div id="mainAndLivechat"
             class="gap-dynamic w-100 flex-grow-1 d-flex
             justify-content-center align-items-center px-5 vh-80">
          <div id="mainContent"
               class=" p-0 p-sm-5 slideWithLiveChat neon-blue max-height-90 rounded flex-grow-1 d-flex h-100 align-item-center justify-content-center">
          </div>
          {% include 'livechat.html' %}
        </div>
      </div>
      <div class="navbar-parent px-4 vh-10">
        <nav class="navbar px-5">
          <div class="container-fluid d-flex justify-content-between">
            <div data-palette-icon class="paletteIcon"></div>
            <div data-chat-icon class="chat-close-icon"></div>
          </div>
        </nav>
      </div>
    </div>
    <script>
        const staticImageURL =
          "{% static 'css/images/pong-game-card.png' %}";
    </script>
    <script type="module"
            src="{% static 'js/tournoi/services/apiService.js' %}?v=1.0"></script>
    <script type="module" src="{% static 'js/main.js' %}?v=1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script type="module" src="{% static 'js/livechat/livechat.js' %}?v=1.1"></script>
    <script type="module" src="{% static 'js/frontend.js' %}?v=1.0"></script>
  </body>
</html>
