Django==5.1
django-prometheus
psycopg2-binary
psycopg
djangorestframework
djangorestframework_simplejwt
Pillow
daphne
channels
channels-redis
twisted[tls,http2]
pyopenssl
pyotp
django-admin-interface
requests==2.31.0
