Django==5.1
django-prometheus
psycopg2-binary
psycopg
djangorestframework
djangorestframework_simplejwt
Pillow
daphne
channels
django-otp
django-two-factor-auth
twisted[tls,http2]
pyopenssl
pyotp
pytz